# Download the csv file and open it in a notebook

In [1]:
import pandas as pd              # to import panda library and match pd to panda related tasks #

In [2]:
df = pd.read_csv("C:\\Users\phili\Downloads\liste-des-musees-de-france-2021.csv", delimiter=';',engine= 'python')

# Answer your manager's questions

## How many museums are there in France ?

In [3]:
print ("There are", len(df), "museums in France.")  # we assume that every row stands for a museum #

There are 3784 museums in France.

## Which cities have the most museums ?

In [4]:
print( df['city'].value_counts().idxmax(),"has the most museums, with",df['city'].value_counts().max(),"museums.")

Paris has the most museums, with 175 museums.

## What is the average number of museum per city ?

In [5]:
print("The average number of museum per city is", df['city'].value_counts().mean(),".")

The average number of museum per city is 1.647930283224401 .

## What is the median number of museum per city ?

In [6]:
print("The median number of museum per city is", df['city'].value_counts().median(),".")

The median number of museum per city is 1.0 .

## How many museum's names start with "Château"

In [7]:
print ("There are", df['name'].str.startswith('Château').value_counts().get(True, 0), "museums whose name starts with 'Château'.")

There are 57 museums whose name starts with 'Château'.

## For how many museums do we have a website ?

In [15]:
 print("We found that",df['website'].nunique(),"museums filled in a website.")   #counts only unique values in my data frame, .count() works but returns 1636#

We found that 1585 museums filled in a website.

## Wich county has the most museums ?

In [17]:
df['postal_code'] = df['postal_code'].map(lambda x: str(x)[:-5])

by_postal_code = df.groupby(['postal_code'])['postal_code'].count()

print("The county n=°", by_postal_code.idxmax(),"has the most museums, with",by_postal_code.max(),"museums" )

The county n=° 75 has the most museums, with 172 museums

## Wich county has the least museums ?

In [20]:
print("The county n=°", by_postal_code.drop("590").idxmin(),"has the least museums, with",by_postal_code.drop("590").min(),"museums." )

The county n=° 48 has the least museums, with 8 museums.

# Improvements

It wouldve been interresting to see attendance of each museum an sort them by popularity with these datas : https://www.data.gouv.fr/fr/datasets/frequentation-des-musees-de-france-1/

And maybe to cross them with the budget alloted to each county by the ministry of culture : https://www.data.gouv.fr/fr/datasets/depenses-du-ministere-de-la-culture-par-departement-en-2019/

may be we would be able to see a correlation with the number of artistics spaces: https://www.data.gouv.fr/fr/datasets/structures-de-la-creation-artistique-1/